<a href="https://colab.research.google.com/github/marirepina/Predicted-price/blob/main/Parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [146]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [147]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [148]:
URL = 'https://www.afisha.ru/selection/100-luchshih-filmov-za-polveka/'

r = requests.get(URL)

In [149]:
soup = bs(r.text, 'html.parser')

In [150]:
link = 'https://www.afisha.ru' + soup.find('li', class_='lHiNF c6kcq gX7y9').find('a', class_='vcSoT b6DKO jkBWH f5gWK').get('href')

In [151]:
name = soup.find('li', class_='lHiNF c6kcq gX7y9').find('a', class_='vcSoT b6DKO jkBWH f5gWK').find(class_='mQ7Bh').text

In [152]:
film_type = soup.find('li', class_='lHiNF c6kcq gX7y9').find('a', class_='vcSoT jnZXU').text

In [153]:
rating = soup.find('li', class_='lHiNF c6kcq gX7y9').find('div', class_='Pw07y').find('span').text

In [154]:
films = soup.findAll('li', class_='lHiNF c6kcq gX7y9')
len(films)

105

In [155]:
films = soup.findAll('li', class_='lHiNF c6kcq gX7y9')
len(films)

data = []

for film in films:
  try:
    link = 'https://www.afisha.ru' + film.find('a', class_='vcSoT b6DKO jkBWH f5gWK').get('href')
    name = film.find('a', class_='vcSoT b6DKO jkBWH f5gWK').find(class_='mQ7Bh').text
    film_type = film.find('a', class_='vcSoT jnZXU').text
    rating = film.find('div', class_='Pw07y').find('span').text
    data.append([link, name, film_type, rating])
  except AttributeError:
    continue

In [156]:
len(data)

100

In [157]:
header = ['link', 'name', 'film_type', 'rating']

In [158]:
df = pd.DataFrame(data, columns = header)
df.to_csv('/content/drive/MyDrive/Colab Notebooks/top_films', sep=',', encoding='utf8')

In [159]:
df_out = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/top_films', delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   link       100 non-null    object
 1   name       100 non-null    object
 2   film_type  100 non-null    object
 3   rating     100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [160]:
df_out.head()

,Unnamed: 0,link,name,film_type,rating
0,0,https://www.afisha.ru/movie/horoshiy-plohoy-zl...,"Хороший, плохой, злой",Вестерн,8.4
1,1,https://www.afisha.ru/movie/vypusknik-170177/,Выпускник,Трагикомедия,7.5
2,2,https://www.afisha.ru/movie/planeta-obezyan-16...,Планета обезьян,Детектив,7.0
3,3,https://www.afisha.ru/movie/2001-god-kosmiches...,2001 год: Космическая одиссея,Приключение,7.9
4,4,https://www.afisha.ru/movie/gryazniy-garri-178...,Грязный Гарри,Боевик,7.1